<!-- Dashboard Container -->
<div
  class="min-h-screen bg-gray-50 dark:bg-dark-900 flex flex-col transition-colors duration-300">
  <!-- Top Navigation Bar -->
  <app-top-navbar
    [mobileMenuOpen]="mobileMenuOpen()"
    [sidebarCollapsed]="sidebarCollapsed()"
    (toggleMobileMenu)="toggleMobileMenu($event)"
    (toggleDesktopSidebar)="toggleSidebar($event)" />

  <!-- Main Content Area -->
  <div class="flex flex-1">
    <!-- Sidebar -->
    <app-sidebar
      [sidebarCollapsed]="sidebarCollapsed()"
      [sidebarItems]="sidebarItems()"
      [mobileMenuOpen]="mobileMenuOpen()"
      (toggleMobileMenu)="toggleMobileMenu($event)"
      (updateSidebarItems)="updateSidebarItems($event)"
      (toggleDesktopSidebar)="toggleSidebar($event)"
      (updateCurrentRoute)="currentRoute.set($event)" />

    <div class="flex-1 overflow-hidden mt-16">
      <!-- Main Content -->
      <main class="flex-1 relative overflow-y-auto focus:outline-none">
        <div class="py-6">
          <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
